@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #171717;
    --card: #fff;
    --card-foreground: #171717;
    --popover: #fff;
    --popover-foreground: #171717;
    --primary: #7c4dff;
    --primary-foreground: #fff;
    --secondary: #f8fafc;
    --secondary-foreground: #171717;
    --muted: #f8fafc;
    --muted-foreground: #64748b;
    --accent: #7c4dff;
    --accent-foreground: #fff;
    --accent-secondary: #1783ff;
    --accent-tertiary: #ec3cdb;
    --accent-quaternary: #eb5646;
    --accent-dark: #253143;
    --destructive: #eb5646;
    --destructive-foreground: #fff;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #7c4dff;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 94.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
